@import 'tailwindcss';

:root {
  --background: #1a202c;
  --foreground: #171717;
  --content-bg: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a202c;
    --foreground: #171717;
    --content-bg: #ffffff;
    /* --background: #0d1117;
    --foreground: #e6edf3;
    --content-bg: #161b22; */
  }
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

